@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");

html {
    font-size: 14px;
    font-weight: 500;
}

body {
    position: relative;
    margin: 0;
    font-family: Raleway, sans-serif;
}

* {
    box-sizing: border-box;
}

#basepage {
    display: block;
    position: absolute;
    /* background-image: url("/img/dummy_page.jpg");
    background-size: cover ; */
    width: 100vw;
    height: 100vh;
}

#basepage img {
    display: inline-block;
    position: absolute;
    width: 100vw;
}

/* .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    left: 100px;
    /* background-color: chocolate;
    color: white;
    border: 1px solid rgb(46, 23, 7);
    border-radius: 5px;
} */

.fixed {
    position: fixed;
    top: 20px;
    right: 20px;
    /* background-color: chocolate;
    color: white;
    border: 1px solid rgb(46, 23, 7);
    border-radius: 5px; */
}

.absolute {
    position: absolute;
    top: 0px;
    right: 0px;
    /* background-color: chocolate;
    color: white;
    border: 1px solid rgb(46, 23, 7);
    border-radius: 5px; */
}

#init-button {
    /* position: -webkit-sticky;
    position: sticky;
    top: 100px;
    left: 100px; */
    /* width: 200px;
    height: 2rem; */
    padding: .5rem;
    background-color: chocolate;
    color: white;
    border: 1px solid rgb(46, 23, 7);
    border-radius: 5px;
}

.modal__container {
    display: flex;
    position: fixed;
    padding: auto;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.modal__container.modal__container--hidden {
    display: none;
    padding: auto;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0);

}

.modal {
    width: 100%;
    margin: auto;
    padding: 0;
    background-color: rgb(175, 250, 227);
}
@media screen and (min-width: 560px) {
.modal {
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: rgb(175, 250, 227);
    }
}
.modal__header {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    text-align: right;
}

.button--close {
    visibility: hidden;
    font-size: 1.8rem;
}
.fa-times {
    visibility: visible;
}
.wrapper {
    
}
.article {
    margin: 0 3rem;
}
.article__title {
    font-size: 2rem;
    margin: 1rem 0;
}
.article__text {
    line-height: 2rem;

}
.modal__footer {
    float: right;
    padding: 1rem 3rem 2.5rem;
}
.button--ok {
    background-color: rgb(23, 136, 12);
    color: rgb(255, 255, 255);
}
.button--cancel {
    background-color: rgb(190, 15, 15);
    color: rgb(255, 255, 255);
}